<!-- app/views/home/index.html.erb -->
<h1 class="text-4xl font-bold text-center my-8">Welcome to Zaytoon Restaurant</h1>
<p class="text-center mb-8">Explore our delicious menu and special offers!</p>

<h2 class="text-3xl font-semibold my-4">Categories</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 mb-8">
  <% @categories.each do |category| %>
    <div class="bg-white rounded-lg shadow p-4 text-center transform transition-transform duration-200 ease-in-out hover:scale-105">
      <h3 class="text-xl font-semibold"><%= link_to category.name, category_path(category), class: "text-blue-600 hover:text-blue-800" %></h3>
    </div>
  <% end %>
</div>

<h2 class="text-3xl font-semibold my-4">Top Products</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
  <% @products.each do |product| %>
    <%= link_to product_path(product), class: "group" do %>
      <div class="bg-white rounded-lg shadow p-4 text-center transform transition-transform duration-200 ease-in-out hover:scale-105">
        <% if product.images.attached? %>
          <%= image_tag url_for(product.images.first), class: "w-full h-48 object-cover mb-4 transform transition-transform duration-200 ease-in-out group-hover:scale-110" %>
        <% else %>
          <div class="w-full h-48 bg-gray-200 mb-4"></div>
        <% end %>
        <h3 class="text-xl font-semibold text-blue-600 group-hover:text-blue-800"><%= product.name %></h3>
        <p class="mt-2"><%= product.description %></p>
        <p class="mt-2 font-bold text-lg"><%= number_to_currency(product.price) %></p>
      </div>
    <% end %>
  <% end %>
</div>
