<h1>Checkout</h1>

<%= form_with model: @order, url: orders_path, local: true do |f| %>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address, rows: 3 %>
  </div>

  <div class="field">
    <%= f.label :province_id %>
    <%= f.collection_select :province_id, Province.all, :id, :name, prompt: "Select Province" %>
  </div>

  <h2>Your Cart</h2>
  <% @cart.each do |product_id, quantity| %>
    <% product = Product.find(product_id) %>
    <div>
      <%= product.name %> - <%= quantity %> x <%= number_to_currency(product.price) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Place Order", class: "btn btn-primary" %>
  </div>
<% end %>
