<% content_for :title, @product.name %>

<div class="max-w-7xl w-full mx-12 px-3 mb-5">
  <div class="flex items-center space-x-1 md:ml-48">
    <%= link_to @product.category.name, category_path(@product.category), class: "px-3 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition-colors duration-200" %>
    <span class=" text-gray-600">&gt;&gt;</span>
    <%= link_to "Products", products_path, class: "px-3 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition-colors duration-200" %>
    <span class=" text-gray-700">&gt;&gt;</span>
    <%= link_to @product.name, @product, class: "px-3 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition-colors duration-200" %>
  </div>
</div>

<div class="mx-auto md:w-2/3 w-full flex flex-col md:flex-row">
  <div class="md:w-1/2">
    <% if @product.images.attached? %>
      <%= image_tag url_for(@product.images.first), class: "w-full h-auto object-cover rounded-lg hover:brightness-75 transition-all duration-300" %>
    <% else %>
      <div class="w-full h-48 bg-gray-200 mb-4"></div>
    <% end %>
  </div>
  <div class="md:w-1/2 md:pl-8">
    <h1 class="text-4xl font-bold mb-4"><%= @product.name %></h1>
    <p class="text-xl font-semibold text-gray-700 mb-4"><%= number_to_currency(@product.price) %></p>
    <h3 class="mb-4"><%= @product.description %></h3>
    <!-- Options Section -->
    <% if @product.options.present? %>
      <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Choose Option</h3>
        <ul class="list-disc list-inside">
          <% @product.options.each do |option| %>
            <li class="mb-1">
              <%= radio_button_tag "option", option, false, class: "mr-2" %>
              <%= label_tag "option_#{option}", option %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @product.served_with.present? %>
      <h3 class="mb-4"><strong>Served With:</strong> <%= @product.served_with %></h3>
    <% end %>
    <% if @product.pieces.present? %>
      <h3 class="mb-4"><strong>Pieces:</strong> <%= @product.pieces %></h3>
    <% end %>
    <% if @product.extra.present? %>
      <h3 class="mb-4"><strong>Extra:</strong> <%= @product.extra %></h3>
    <% end %>
    <%= link_to "Back to products", products_path, class: "mt-4 inline-block rounded-lg py-3 px-4 bg-gray-300 hover:bg-gray-400 text-gray-800 transition-colors duration-200" %>
  </div>
</div>
